<div id = "dashboard">

    <table class="table" id="class-table">
        <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Professor</th>
        <th>Description</th>
        <th>Capacity</th>
        </thead>
        <tbody id="class-table-body">

        </tbody>
    </table>

    <br/><hr/><br/>
    <button class="btn btn-primary" id="add-student">Do a Thing</button>
    <br/>

    <div id="error-msg-container">
        <p hidden id="error-msg" class="alert alert-danger"></p>
    </div>

</div>