<div id = "discover">

    <h1 id = "Discover-title">Discover Classes</h1>

    <table class="table" id="class-table">
        <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th id="profCell">Professor</th>
        <th>Capacity</th>
        <th></th>
        </thead>
        <tbody id="class-table-body">

        </tbody>
    </table>

    <br/><hr/><br/>
    <button class="btn btn-primary" id="add-student">Do a Thing</button>
    <br/>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="exampleModalBody">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="exampleModalConfirm">Confirm</button>
            </div>
        </div>
        </div>
    </div>

    <div id="error-msg-container">
        <p hidden id="error-msg" class="alert alert-danger"></p>
    </div>

</div>